{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
    <div class="row">

    <div class="col-md-6 col-md-offset-3 well">
        <button type="button" class="btn btn-lg btn-danger" onclick="{{ path('logout') }}">Logout</button>
    </div>
    </div>
    </div>
{% endblock %}