{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <button type="button" class="btn btn-danger" onclick="{{ path('logout') }}">Logout</button>
    </div>
{% endblock %}